@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Karla400";
    src: url(./assets/fonts/static/Karla-Regular.ttf);
}
@font-face {
    font-family: "Karla700";
    src: url(./assets/fonts/static/Karla-Bold.ttf);
}